body {
	border: 20px solid #bdc3c7;
	padding: 5%;
	max-width: 700px;
	width: 80%;
	margin: 30px auto;
}

.date {
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.intro{
	border-left: 5px solid #bdc3c7;
	padding-left: 5px;

}